.homeContent{
    @include GradienteBase;
    padding-bottom: 100px;
    min-height: calc( 83vh - 282px);
    &_titulos{
        h2{
            font-size: 2.5rem;
            font-family: $FuenteTitulo;
        }
        p{
            font-size: 1.5rem;
            font-family: $FuenteTitulo;            
        }
    }
}

@include media-md{
    .homeContent{
        padding-bottom: 60px;
        &_titulos{
            h2{
                font-size: 5rem;                 
            }
            p{
                font-size: 3rem;
            }
        }
    }
}