@font-face {
  font-family: "AGENCYB";
  src: url("fonts/AGENCYB.TTF") format("truetype");
}

@font-face {
  font-family: "TAHOMA";
  src: url("fonts/TAHOMA.TTF") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slideLazarini {
  background: #fff;
}

.slideL {
  height: calc(100vw / 2.5);
}

.slideL .carousel-item {
  z-index: 11;
  width: 100%;
  height: 100%;
}

.slideL .carousel-item img {
  z-index: 9;
  -webkit-transition: 1s;
  transition: 1s;
}

.slideL .carousel-item .mascara {
  width: 101%;
  height: 101%;
  position: absolute;
  z-index: 10;
}

.slideL .carousel-item .carousel-caption {
  z-index: 11;
  color: #fabc2b;
  position: absolute;
  top: 20%;
}

.slideL .carousel-item .carousel-caption h5 {
  font-size: 6vw;
  text-align: left;
}

.slideL .carousel-item .carousel-caption .subH5 {
  padding-left: 9vw;
}

.menu-btn {
  position: fixed;
  z-index: 20;
  right: 1rem;
  top: 20px;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burguer {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fabc2b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burguer::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fabc2b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burguer::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fabc2b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burguer.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burguer.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burguer.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 12;
}

.nav a {
  color: white !important;
}

.nav a:hover {
  text-decoration: none;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: rgba(42, 42, 42, 0.9);
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #fabc2b !important;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2 rem 0;
  font-weight: 300;
  margin: 1rem 0;
  font-family: "AGENCYB";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #fabc2b !important;
}

.logo {
  position: fixed;
  z-index: 13;
  left: 1rem;
  top: 1rem;
}

.logo img {
  width: 60px;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav a {
    color: #424242 !important;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    text-align: right;
    background: #fff;
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .logo::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 25px 29px 0 29px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: -1;
  }
}

.homeContent {
  background: #8e9eab;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#8e9eab), to(#fff));
  background: linear-gradient(to top, #8e9eab, #fff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 100px;
  min-height: calc( 83vh - 282px);
}

.homeContent_titulos h2 {
  font-size: 2.5rem;
  font-family: "AGENCYB";
}

.homeContent_titulos p {
  font-size: 1.5rem;
  font-family: "AGENCYB";
}

@media screen and (min-width: 768px) {
  .homeContent {
    padding-bottom: 60px;
  }
  .homeContent_titulos h2 {
    font-size: 5rem;
  }
  .homeContent_titulos p {
    font-size: 3rem;
  }
}

.cuerpoHome {
  width: 100vw !important;
  margin-top: 100px;
}

.cuerpoHome .card {
  max-width: 900px;
  -webkit-box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.75);
}

.cuerpoHome .card .card-header {
  background: #fff !important;
  position: relative !important;
  padding: 0 !important;
}

.cuerpoHome .card .card-header .cardTitle {
  position: absolute;
  z-index: 1;
  top: -25px;
}

.cuerpoHome .card .card-header .cardTitle::after {
  content: '';
  width: 40px;
  height: 40px;
  background: #a8a8a8;
  position: absolute;
  top: -5px;
  left: calc(50% - 70px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  -webkit-box-shadow: 39px -39px #a8a8a8;
          box-shadow: 39px -39px #a8a8a8;
}

.cuerpoHome .card .card-header .cardTitle::before {
  content: '';
  width: 40px;
  height: 40px;
  background: #a8a8a8;
  position: absolute;
  top: 26px;
  left: calc(50% - 43px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  -webkit-box-shadow: 39px -39px #a8a8a8;
          box-shadow: 39px -39px #a8a8a8;
}

.cuerpoHome .card .card-header .cardTitle h3 {
  font-size: 18px;
  font-family: "AGENCYB";
}

.cuerpoHome .card .card-body {
  margin-top: 50px;
}

.cuerpoHome .card p {
  font-family: "TAHOMA";
}

@media screen and (min-width: 768px) {
  .cuerpoHome .card .card-header .cardTitle {
    top: calc(-25px + 0px);
  }
  .cuerpoHome .card .card-header .cardTitle::after {
    content: '';
    width: calc(40px + 50px);
    height: calc(40px + 50px);
    top: calc(-5px - 25px);
    left: calc(50% - 150px);
    -webkit-box-shadow: 89px -89px #a8a8a8;
            box-shadow: 89px -89px #a8a8a8;
  }
  .cuerpoHome .card .card-header .cardTitle::before {
    content: '';
    width: calc(40px + 50px);
    height: calc(40px + 50px);
    top: calc(26px + 15px);
    left: calc(50% - 88px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 89px -89px #a8a8a8;
            box-shadow: 89px -89px #a8a8a8;
  }
  .cuerpoHome .card .card-header .cardTitle h3 {
    font-size: calc(18px + 20px);
  }
  .cuerpoHome .card .card-body {
    margin-top: 100px;
  }
}

footer {
  background: #424242;
  z-index: 10 !important;
}

footer h4 {
  font-size: 1.3rem;
  font-family: "TAHOMA";
  color: #fabc2b;
}

.figuraLz {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.figuraLz_figura {
  height: 75px;
}

.figuraLz_figura::after {
  content: '';
  width: 40px;
  height: 40px;
  background: #6dadba;
  position: absolute;
  top: -5px;
  left: calc(50% - 70px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  -webkit-box-shadow: 39px -39px #6dadba;
          box-shadow: 39px -39px #6dadba;
}

.figuraLz_figura::before {
  content: '';
  width: 40px;
  height: 40px;
  background: #6dadba;
  position: absolute;
  top: 26px;
  left: calc(50% - 43px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  -webkit-box-shadow: 39px -39px #6dadba;
          box-shadow: 39px -39px #6dadba;
}

.figuraLz h3 {
  font-size: 30px;
  font-family: "TAHOMA";
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .figuraLz {
    margin-top: 75px;
  }
  .figuraLz_figura {
    height: 145px;
  }
  .figuraLz_figura::after {
    content: '';
    width: calc(40px + 50px);
    height: calc(40px + 50px);
    top: calc(-5px - 25px);
    left: calc(50% - 150px);
    -webkit-box-shadow: 89px -89px #6dadba;
            box-shadow: 89px -89px #6dadba;
  }
  .figuraLz_figura::before {
    content: '';
    width: calc(40px + 50px);
    height: calc(40px + 50px);
    top: calc(26px + 15px);
    left: calc(50% - 88px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 89px -89px #6dadba;
            box-shadow: 89px -89px #6dadba;
  }
}

.cardsLazarini {
  font-family: "TAHOMA";
  -webkit-box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.75);
  padding: 0 !important;
}

.cardsLazarini h2, .cardsLazarini h3, .cardsLazarini h4, .cardsLazarini h5, .cardsLazarini h6 {
  font-family: "AGENCYB";
}

.cardsLazarini p {
  font-family: "TAHOMA";
}

.cardsLazarini iframe {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border: none;
}

.cardsLazarini .card_servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsLazarini .card_servicios_titulo {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 95%;
}

.cardsLazarini .card_servicios_titulo::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 7px 0 7px;
  border-color: #fabc2b transparent transparent transparent;
  margin: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.cardsLazarini .card_serviciosSM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsLazarini .card_serviciosSM_titulo {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 95%;
}

.cardsLazarini .card_serviciosSM_tituloLI {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 95%;
}

.cardsLazarini .card_serviciosSM_tituloLI::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #fabc2b;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.cardsLazarini .card-body-lazarini {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100%;
}

.cardsLazarini .card-body-lazarini img {
  width: 100%;
}

.mainLazarini {
  overflow-x: hidden;
}

.somosTitulos {
  margin: 30px 0px;
}

.serviciosTitulos {
  margin: 30px 0px;
  min-height: 250px;
}

.examapleImgLazarini {
  max-width: 140px;
}

@media screen and (min-width: 768px) {
  .examapleImgLazarini {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
/*# sourceMappingURL=Style.css.map */